* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monserat, sans-serif;
}
button {
    border: none;
}
a{
    text-decoration: none;
}

.meny{
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
    color: #476BF0;
}
ul {
    list-style: none;
}
.text{
    font-family: monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #525252;
    width: 114px;

}
header ul{
    display: flex;
    list-style: none;
    gap: 62px;

}
header{
    display: flex;
    justify-content: center;
    gap: 63px;
    align-items: center;
    height: 78px;


}
.list{
    font-family: monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #252A34;
}
.line{
    border: 1px solid #525252;
    height: 25px;

}

.header{
    display: flex;
    gap: 10px;
    align-items: center;
}
.foto{
    width: 1240px;
    display: flex;
    justify-content: space-between;
    top: 350px;
    background: #E8ECFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.09), 0 0 16px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 62px 108px;
}
.form{
    display: flex;
    justify-content: center;
}
.title{
    width: 623px;
    height: 92px;
    margin-bottom: 21px;
    font-family: monospace;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #252A34;
}
.img{
    width: 372px;
    height: 234px;
    left: 900px;
    top: 140px;

}
.foto li{
    list-style: none;
    /*position: relative;*/
    display: flex;
    left: 448px;
    top: 253px;
}
.stars {

    display: flex;
    gap: 10px;
    left: 448px;
    top: 253px;
}
.text1 {
    display: flex;
    font-size: 18px;
    line-height: 17px;
    font-weight: 400;
    justify-content: space-between;
    width: 550px;
}
.text1 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #252A34;
    display: flex;
    justify-content: start;
    align-items: center;

}
.text1 span {
    padding: 15px;
    color: #476BF0;
}
.black {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.cardsot {
    margin-top: 50px;
    width: 1024px;
    height: 320px;
    background: #F4F4F4;
    border-radius: 15px 15px 0 0;
}
.cardot h4{
    width: 542px;
    margin-top: 20px;
    font-weight: 400;
    margin-left: 20px;
    font-size: 30px;
    line-height: 29px;
    color: #252A34;
}
.cardot p{
    width: 926px;
    padding: 20px;
    font-family: monospace;
    margin-top: 8px;
    font-size: 23px;
    line-height: 140%;
    color: #555555;
}
.tommi{
    display: flex;
    gap: 15px;
    width: 50px;
    height: 30px;
    margin-left: 20px;
}
.tommi h2{
    color: #476BF0;
}
.ul{
    display: flex;
    gap: 17px;
}
.review {
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #6C6C6C;
}
.btns_box {
    margin-top: 28px;
    display: flex;
    align-items: center;
    gap: 88px;
}
.btn{
    width: 257px;
    height: 62px;
    background: #476BF0;
    border-radius: 15px;
}
.btn{
    color: #E8ECFF;
    font-size: 23px;
    font-weight: 400;
}
.btn1 span {
    font-weight: 600;
}
.btn1{
    width: 223px;
    height: 62px;
    border: 1px solid #91A3FF;
    border-radius: 15px;
    color: #91A3FF;
    font-size: 20px;
    background: transparent;
}
.btn2{
    position: relative;
    width: 240px;
    height: 63px;
    background: #E8ECFF;
    border-radius: 15px;
}
.btn2 p{
    color: #476BF0;
    font-size: 26px;
}
.btn3{
    position: relative;
    width: 241px;
    height: 63px;
    background: #E8ECFF;
    border-radius: 15px;
}
.btn3 p{
    color: #476BF0;
    font-size: 26px;
}
.btn4{
    position: relative;
    width: 245px;
    height: 63px;
    background: #E8ECFF;
    border-radius: 15px;
}
.btn4 p{
    color: #476BF0;
    font-size: 26px;
}
.btn5{
    width: 245px;
    height: 63px;
    background: #476BF0;
    border-radius: 15px;
}
.btn5 p{
   color: #FFFFFF;
    font-size: 26px;
}
.tabs {
    display: flex;
    justify-content: center;
    margin: 65px 0 45px 0;
    gap: 21px;
}
.black h1{

    font-family: monospace;
    font-size: 40px;
    text-align: center;
    color: #252A34;
    padding: 10px;
}
.write_title p{
    display: flex;
}
.write_title{
    border: 1px solid #ABABAB;
    transform: rotate(180deg);
}
.karta:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 13px 40px -5px rgba(79, 76, 76, 0.12),
    0 8px 32px -8px hsla(0, 2%, 10%, 0.14),
    0 -6px 32px -6px hsla(0, 2%, 12%, 0.02);
}
.name{
    text-align: center;
    width: 1230px;
}
.label {
    margin-top: 75px;
    justify-content: center;
    box-sizing: border-box;
    width: 291px;
    height: 51px;
    border: 1px solid #476BF0;
    border-radius: 15px;
}
.radio{
    margin-top: 75px;
    text-align: center;
}
.check{
    margin-top: 22px;
    box-sizing: border-box;
    width: 684px;
    height: 175px;
    background: #F4F4F4;
    border: 1px solid #DCDCDC;
    border-radius: 15px;
}
.check a{
    width: 158px;
    height: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
   margin-right: 500px;
    color: #999999;
}
.afto{
    display: flex;
    gap: 34px;
}
.aparat{
    margin-top: 30px;
    /*margin-right: 350px;*/
    box-sizing: border-box;
    width: 325px;
    height: 52px;
    background: #F4F4F4;
    border: 1px solid #DCDCDC;
    border-radius: 15px;
}
.karta_title{
    text-align: center;
    /*display: flex;*/


}
.karta_title h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 38px;
    color: #252A34;
    margin: 50px 0;
}
.kart{
    display: flex;
    gap: 20px;
}
.karta{
    width: 243px;
    height: 346px;
    background: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    /*padding: 0 18px;*/
    display: none;
    background-color: white;
    overflow: hidden;
}
.active img{
    transform: rotate(180deg);

}
.iconk{
    display: flex;
    gap: 27px;
    justify-content: center;
    margin-top:18px ;
}
.blue h1{
    text-align: center;
}
.kart2{
    display: flex;
    gap: 20px;
}
.zvezda {
    margin-top: 30px;
    text-align: center;
}
.btr_tit {
    width: 291px;
    height: 58px;
    background: #476BF0;
    border-radius: 15px;
    top: 40px;

}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btr_title1{
    margin-top: 40px;
    text-align: center;
}
.karta3{
    width: 246px;
    height: 228px;
    background: #E8ECFF;
    border-radius: 15px;
    margin-top: 12px;
}
.karta3 ul{
    font-family: monospace;
    font-weight: 400;
    padding: 5px;
    margin: 10px;
    color: #476BF0
}
.karta3 ul li{
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background: #252A34;
    padding: 30px;
    margin-top: 75px;
}

.footer-con {
    width:70%;
}
.floter{
    display: flex;
    justify-content: space-between;
    color:  #FFFFFF;
    margin-bottom: 27px;
}
.span2{
    font-weight: 300;
    font-size: 14px;
    color: #A9A9A9;
}

